/*\.([a-zA-Z-_]+) .\1, \n.\1*/
@use "sass:math";


$cols: (".cook-ID": 80px,
".cook-Date": 120px,
".cook-Time": 120px,
".cook-ItemID": 240px,
".cook-Temp": 100px,
".cook-Person": 140px,
".cook-Comment": 300px,
".items-ID": 80px,
".items-Item": 240px,
".items-MinTemp": 100px,
".items-Minutes": 120px,
".items-Method": 120px,
".items-Comment": 300px,
".salad-ID": 80px,
".salad-Date": 120px,
".salad-Time": 120px,
".salad-SaladID": 240px,
".salad-MeatAge": 100px,
".salad-Expires": 120px,
".salad-Ack": 80px,
".salad-Person": 140px,
".salad-Comment": 300px,

".items-Salad": 240px,
".items-Life": 80px,

".people-ID": 80px,
".people-Name": 140px,
".people-Active": 80px,
".people-Comment": 300px
);

@each $id, $width in $cols{
  #{$id}{
      div,
      input,
      select{
        width:$width;
      }
  }
}

td{
  font-size: 20px;
}

tr{
  height: 52px;
}